*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}



.img-principal {
    width: 500px;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}

.menu {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 50px;
}

.menu a {
    color: white;
}

.menu a span {
    color: #3B68FF;
}

h1 {
    font-size: 50px;
    width: 500px;
}

.box-principal {
    display: flex;
    justify-content: center;
}

.section-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 50px;
}

.section-principal img {
    width: 500px;
    border-radius: 20px;
}


.texto-principal p {
    width: 400px;
    line-height: 24px;
    padding: 40px 0 40px ;
}

.botoes {
    display: flex;
    align-items: center;
    gap: 15px;
}

.bt-verde {
    border-radius: 12px;
    background: #14FE39;
    color: black;
    padding: 1em;
}

.bt-branco {
    color: black;
    background-color: white;
    border-radius: 12px;
    padding: 1em;
}

.section-dois {
    padding: 100px 0 100px 0;
    background-color: white;
}

.texto-section-dois {
    color: black;
    display: flex;
    justify-content: center;
}

.texto-section-dois h2 {
     font-size: 50px;
     width: 600px;
}

.texto-section-dois p {
    width: 600px;
    padding-bottom: 50px;
    line-height: 24px   ;
}

.texto-section-dois a {
    color: black;
    border-radius: 12px;
    border: 1px solid #000;
    padding: 16px 32px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}

.numeros-section-dois {
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
}

.numeros-section-dois .cartao {
    background-image: url(fundo2.png);
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border-radius: 20px;
    padding: 40px;
}

.numeros-section-dois .cartao .card h2 {
    font-size: 64px;
    border-right: 1px solid gray;
    padding-right: 100px;
}

.numeros-section-dois .cartao .card1 h2 {
    font-size: 64px;
    border-right: 1px solid gray;
    padding-right: 100px;
}

.numeros-section-dois .cartao .card2 h2 {
    font-size: 64px;
    border-right: 1px solid gray;
    padding-right: 100px;
}

.numeros-section-dois .cartao .card3 h2 {
    font-size: 64px;
}

.escritorio .card {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.escritorio .card img {
}

.escritorio h2 {
    text-align: center;
    font-size: 64px;
    padding: 150px 0 45px 0;
}

.sobre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding-top: 150px;
}

.sobre p {
    width: 490px;
    line-height: 24px;
    padding: 20px 0 60px 0;
}

.sobre a {
    color: white;
    border-radius: 12px;
    background: #145AFE;
    padding: 12px 25px;
}

.sobre h2 {
    font-size: 50px;
}

@media screen and (max-width: 1000px) {

    .img-principal {
        width: 100%;
    }
    
    
    
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;
        padding-top: 20px;
    }
    
    .menu {
        display: none;
        justify-content: center;
        align-self: center;
        gap: 50px;
    }
    
    .menu a {
        color: white;
    }
    
    h1 {
        font-size: 35px;
        width: 100%;
    }
    
    .section-principal {
        display: grid;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
    }
    
    .section-principal img {
        width: 100%;
        padding: 20px 10px 0 10px;
        border-radius: 30px;
    }

    .texto-principal {
        text-align: center;
    }
    
    
    .texto-principal p {
        width: 100%;
        line-height: 24px;
        padding: 20px 30px 30px 20px;
    }
    
    .botoes {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
    }
    
    .bt-verde {
        border-radius: 12px;
        background: #14FE39;
        color: black;
        padding: 1em;
        width: 80%;
    }
    
    .bt-branco {
        color: black;
        background-color: white;
        border-radius: 12px;
        padding: 1em;
        display: none;
    }

    
    
    .numeros-section-dois .cartao {
        background-image: url(fundo2.png);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        border-radius: 20px;
        padding: 20px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        width: 100%;
    }

    .section-dois {
        padding-top: 60px;
        background-color: white;
        padding-bottom: 0;
    }
    
    .texto-section-dois {
        color: black;
        display: grid;
        justify-content: center;
        padding: 0 10px 0 10px;
    }
    
    .texto-section-dois h2 {
         font-size: 30px;
         width: 100%;
    }
    
    .texto-section-dois p {
        width: 100%;
        padding: 20px 0 30px 0;
        line-height: 24px   ;
    }
    
    .texto-section-dois a {
        color: black;
        border-radius: 12px;
        border: 1px solid #000;
        padding: 16px 32px;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
    }
    
    .numeros-section-dois {
        display: flex;
        justify-content: center;
        padding: 50px 0 50px 0;
    }
    
    
    .numeros-section-dois .cartao .card h2 {
        font-size: 64px;
        border-right: 1px solid gray;
        padding-right: 50px;
    }
    
    .numeros-section-dois .cartao .card1 h2 {
        font-size: 64px;
        border-right: 1px solid gray;
        padding-right: 50px;
    }
    
    .numeros-section-dois .cartao .card2 h2 {
        font-size: 64px;
        border-right: 1px solid gray;
        padding-right: 50px;
    }
    
    .numeros-section-dois .cartao .card3 h2 {
        font-size: 64px;
    }

    .escritorio .card {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        width: 100%;

    }
    
    .escritorio .card img {
        width: 300px;
    }
    
    .escritorio h2 {
        text-align: center;
        font-size: 35px;
        padding: 100px 0 70px 0;
    }
    
    .sobre {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 100px;
        padding-top: 150px;
    }

    .sobre img {
        width: 100%;
        padding: 0 10px 0 10px;
    }

    .sobre h2 {
        padding-left: 10px;
        font-size: 35px;
    }
    
    .sobre p {
        width: 100%;
        line-height: 24px;
        padding: 20px 10px 40px 10px;
    }
    
    .sobre a {
        color: white;
        border-radius: 12px;
        background: #145AFE;
        margin-left: 10px;
    }



   
    
    
}